body {
    font-family: Arial, sans-serif;
    background-color: #fef4d9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 60%;
    background-color: #fef4d9;
    border: 1px solid #d3b053;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    margin: 10px 0;
    font-size: 24px;
}

h2 {
    margin: 5px 0;
    font-size: 20px;
    color: #555;
}

.course-table {
    background-color: #f8dd71;
    padding: 20px;
    border-radius: 8px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.faculty, .course-name {
    flex: 1;
}
